.language-switcher {
  position: relative;
  display: inline-block;
}

.language-dropdown-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.globe-icon {
  color: #ffffff;
  font-size: 20px;
}

.language-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
}

.language-dropdown-menu.show {
  display: block;
}

.language-option-button {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 14px;
  color: #333;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.language-option-button:hover {
  background-color: #eee;
}

.language-flag {
  margin-right: 5px;
}
