.contact-container {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact-video-bg video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contact-text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-section {
  margin-bottom: 1rem;
}

.contact-title {
  font-size: 1.5rem;
  font-weight: bold;
}

.contact-info {
  font-size: 1rem;
}

.contact-form-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background-image: url('../img/company\ logo.jpg');
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
}

.contact-form-group {
  margin-bottom: 0.5rem;
}

.contact-label {
  font-size: 1rem;
  font-weight: bold;
}

.contact-input {
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 8px;
}

.contact-textarea {
  border-radius: 8px;
  padding: 8px;
}

.contact-button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #2c971e;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact-button:hover {
  background-color: #340fea;
}

/* Media Queries */
@media only screen and (max-width: 480px) {
  .contact-form-title {
    font-size: 1.5rem;
  }

  .contact-title {
    font-size: 1.25rem;
  }

  .contact-label {
    font-size: 0.9rem;
  }

  .contact-input,
  .contact-textarea {
    font-size: 0.9rem;
  }

  .contact-button {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
