.signup-page {
    position: relative;
  }
  
  .signup-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .signup-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    color: black;
  }
  
  .form-label {
    font-size: 20px;
  }
  
  .form-input {
    border-radius: 8px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 16px;
    width: 100%;
  }
  
  .signup-button {
    padding: 10px 20px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .signup-button:hover {
    background-color: #27ae60;
  }
  
  .signup-link {
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
  }
  
  .signup-link a {
    color: #3498db;
    text-decoration: none;
  }
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
  }
  @media (max-width: 768px) {
    .signup-title {
      font-size: 30px;
    }
  
    .form-label {
      font-size: 16px;
    }
  
    .form-input {
      font-size: 14px;
    }
  
    .signup-button {
      font-size: 16px;
    }
  
    .signup-link {
      font-size: 14px;
    }
  }
  