.admin-panel {
  width: 100%;
  overflow-x: auto;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.admin-button {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .admin-table th,
  .admin-table td {
    font-size: 0.875rem;
    word-break: break-word;
  }

  .admin-button {
    font-size: 0.875rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
}
