.admin-panel {
  width: 100%;
  overflow-x: auto;
}

.admin-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-table th,
.admin-table td {
  padding: 0.15rem;
  text-align: left;
  border: 1px solid #ccc;
  font-size: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.admin-table tbody {
  font-size: 0.4rem;
}

.admin-button {
  padding: 0.15rem 0.5rem;
  font-size: 0.4rem;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  .admin-table th,
  .admin-table td {
    font-size: 0.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .admin-table tbody {
    font-size: 0.35rem;
  }

  .admin-button {
    font-size: 0.4rem;
    margin-bottom: 0.15rem;
  }

  .admin-panel {
    overflow-x: scroll;
  }
}

@media screen and (max-width: 768px) {
  .admin-table th,
  .admin-table td {
    font-size: 0.45rem;
  }

  .admin-table tbody {
    font-size: 0.4rem;
  }

  .admin-button {
    font-size: 0.45rem;
    width: auto;
    margin-bottom: 0.15rem;
  }
}

@media screen and (max-width: 1024px) {
  .admin-table th,
  .admin-table td {
    font-size: 0.5rem;
  }

  .admin-table tbody {
    font-size: 0.45rem;
  }

  .admin-button {
    font-size: 0.5rem;
    width: auto;
    margin-bottom: 0.15rem;
  }
}
