.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-brand a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
  }

  .navbar-links {
    display: flex;
    align-items: center;
  }
  
  .navbar-links a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #2ecc71;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo-container:hover {
    color: #2ecc71;
  }
  
  .logo {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    margin-right: 5px; /* Adjust the spacing as needed */
    border-radius: 10%;
}
  
  .company-name {
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  .company-name:hover {
    color: #2ecc71;
  }
  
  .language-switcher {
    
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem; /* Add this line to add spacing to the right */
  }
  
  .language-switcher select {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
    margin-left: 5px; /* Adjust the spacing as needed */
  }
  
  .language-switcher select option {
    background-color: #333;
    color: #fff;
  }
  
  
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .navbar-brand,
    .navbar-links {
      margin-bottom: 10px;
    }
  
    .navbar-links a {
      display: block;
      margin-bottom: 5px;
    }
  }
  