.rightbar {
    flex: 3.5;
  }
  
  .rightbarWrapper {
    padding: 20px 20px 0 0;
  }
  
  .rignhtbarAd {
    width: 100%;
    border-radius: 10px;
    margin: 30px 0;
  }
  
  .rightbarTitle {
    margin-bottom: 20px;
  }
  
  .rightbarfriendList {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .rightbarTitle {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .rightbarInfo {
    margin-bottom: 30px;
  }
  
  .rightbarInfoKey {
    font-weight: 500;
    margin-right: 15px;
    color: #555;
  }
  
  .rightbarInfoValue {
    font-weight: 300;
  }
  
  .rightbarInfoItem {
    margin-bottom: 10px;
  }
  
  .rightbarFollowings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .rightbarFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .rightbarFollowingImg {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
  }

  .layout {
    width: 1366px;
    height: 768px;
  
    display: grid;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
  }
  .active-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
  }
  .inactive-indicator {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: rgb(89, 92, 89);
    border-radius: 50%;
  }

 